[core]
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[include]
	path = ~/.gitconfig.local
[user]
	name = mrRedSun
	email = 22750848+mrRedSun@users.noreply.github.com
